button {
  text-align: center;
  /* padding: 5px; */
  width: 150px;
  height: 46px;
  color: white;
}
.button-primary {
  background-color: #33a0ff;
  border: blue;
}
.button-danger {
  background-color: #ff4858;
  border: #ff4858;
}
.button-success {
  background-color: #0ad00a;
  border: #0ad00a;
}
.button-warning {
  background-color: #ffc600;
  border: #ffc600;
}
.button-weewoo {
  background-color: black;
  border: black;
}
.cart {
  position: relative;
  right: 88px;
  margin: 0 auto;
  padding-left: 5px;
}

.button-cart {
  background-color: rgb(227, 238, 254);
  color: #2e90e5;
  border: #2e90e5;
  padding-left: 29px;
  height: 28px;
  top: 3px;
  width: 117px;
  background-repeat: no-repeat;
}

.button-large {
  width: 171px;
  height: 61px;
}
.button-primary-hollow {
  background-color: white;
  color: blue;
  border: 2px solid blue;
}
.button-danger-hollow {
  background-color: white;
  color: red;
  border: 2px solid red;
}
.button-success-hollow {
  background-color: white;
  color: green;
  border: 2px solid green;
}
.button-weewoo-hollow {
  background-color: white;
  color: black;
  border: 2px solid black;
}

.button-warning-hollow {
  background-color: white;
  color: #ffc600;
  border: 2px solid #ffc600;
}
button:hover {
  filter: brightness(50%);
}
.button-primary-opacity {
  background-color: rgba(51, 160, 255, 0.1);
  color: blue;
}
.button-danger-opacity {
  background-color: rgba(255, 72, 88, 0.1);
  color: red;
}
.button-success-opacity {
  background-color: rgba(10, 208, 10, 0.1);
  color: green;
}
.button-warning-opacity {
  background-color: rgba(255, 198, 0, 0.1);
  color: orange;
}
.button-weewoo-opacity {
  background-color: rgba(34, 38, 42, 0.1);
  color: black;
}
/* button:hover{
    opacity: .5;
} */
